In [3]:
import os
import json
import numpy
import datetime
import pandas as pd

import pymongo
from sqlalchemy import create_engine

In [5]:
host_name = "localhost"
ports = {"mongo" : 27017, "mysql" : 3306}

user_id = "root"
pwd = "%"

src_dbname = "love_island" #what create in mongo
dst_dbname = "love_island_sql" #destination db

### Convert Format

Convert the general format and data structure of the data source (from
JSON to CSV, from CSV to JSON, from JSON into a SQL database table, etc. I want the option to convert any source to any target. So, if I get a CSV as an input, I want the user to choose an output)

In [12]:
pd.read_csv('love_island_contestants.csv')

,Season,Name,Gender,Age,Ethnicity,Town,Job,Status,Days on show,Entrance Day
0,1,Ben Porter,Male,24,White,Wakefield,Junior manager,Dumped,2.0,32.0
1,1,Bethany Rogers,Female,19,White,Leeds,Dancer,Dumped,8.0,14.0
2,1,Cally Jane Beech,Female,23,White,Hull,Dental nurse,Dumped,21.0,21.0
3,1,Chris Baxter,Male,20,White,London,Personal trainer,Dumped,3.0,11.0
4,1,Chris Williamson,Male,27,White,Newcastle,Model and club promoter,Dumped,19.0,1.0
...,...,...,...,...,...,...,...,...,...,...
132,5,Molly-Mae Hague,Female,19,White,Manchester,Social media influencer,Participating,NaN,NaN
133,5,Sherif Lanre,Male,20,Black,London,Chef,Removed,9.0,1.0
134,5,Tom Walker,Male,29,White,Leeds,Model,Participating,NaN,NaN
135,5,Tommy Fury,Male,20,White,Manchester,Professional boxer,Participating,NaN,NaN
136,5,Yewande Biala,Female,23,Black,Dublin,Scientist,Participating,NaN,NaN

### Modify columns

Modify the number of columns from the source to the destination,reducing or adding columns.

### Write to SQL Database

The converted (new) file should be written to disk (local file) or written to a SQL database.

### Summary

Generate a brief summary of the data file ingestion including:
a) Number of records
b) Number of columns

### Error Catching